.temperature-toggle__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 0 0;
}

.temperature-toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ToggleSwitch.css */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

.toggle-switch:hover .slider {
  border: 2px solid black;
}

.toggle-switch:hover .slider__label_c {
  transition: 0.2s;
  color: #000000;
}

.temperature-toggle__checkbox:checked .toggle-switch:hover .slider__label_f {
  transition: 0.2s;
  color: #000000;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 34px;
  transition: 0.4s;
  border: 2px solid #7e7e7e;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: -2px;
  bottom: -2px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s;
}

.slider:hover {
  transition: 0.2s;
  border: 2px solid black;
  transform: translateX(2px);
}

.slider__labels {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}

.slider__label_f {
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 17.36px;
  font-weight: 700;
  flex: 1;
  text-align: center;
  padding: 6px;
  color: white;
}

.slider__label_c {
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 17.36px;
  font-weight: 700;
  flex: 1;
  text-align: center;
  padding: 6px;
  color: rgba(0, 0, 0, 0.5);
}

.temperature-toggle__checkbox:checked ~ .slider__labels .slider__label_c {
  color: white;
}

.temperature-toggle__checkbox:checked ~ .slider__labels .slider__label_f {
  color: rgba(0, 0, 0, 0.5);
}

.temperature-toggle__checkbox:checked + .slider:before {
  transform: translateX(28px);
}
