.temperature-toggle__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 0 0;
}

.temperature-toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ToggleSwitch.css */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
  color: aqua;
}

/* .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* .label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
} */

/* .label.active {
  color: #2196f3;
} */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 34px;
  transition: 0.4s;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: -2px;
  bottom: -2px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s;
}

.slider:hover {
  transition: 0.2s;
  border: 2px solid black;
}

/* input:checked + .slider {
  background-color: white;
} */

input:checked + .slider:before {
  transform: translateX(28px);
}
