.weather-card {
  display: flex;
  position: relative;
  margin: 28px 0 0 0;
  justify-content: flex-start;
  align-items: center;
}

.weather-card__info {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
  line-height: 40px;
  max-width: 69px;
  position: absolute;
  margin: 0 0 0 18px;
  z-index: 1;
}

.weather-card__image {
  width: 100%;
}
