.weather-card {
  border: solid black 1px;
  margin-top: 28px;
  position: relative;
}

.weather-card__info {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
  line-height: 40px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  margin: 0;
}

.weather-card__image {
  width: 100%;
}
